# Puerto
PORT=3002

# Google API
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Rutas locales
CHROMA_DB_PATH="./chroma_data"
POSTGRES_DB_URL="postgresql://postgres:postgres@localhost:5433/corvus_clustering_integrator_db"
